<div id="layout" class="content pure-g">

    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <ul class="pure-menu-list">
              <li class="pure-menu-heading">{{ currentUserAddress }}</li>
            </ul>
            <button class="primary-button pure-button">Compose</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li>                    
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>some tag</a></li>                    
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
        <div 
            *ngFor="let md of emailDescriptions" 
            class="email-item pure-g" 
            [ngClass]="{'email-item-unread': !md.isRead}"
            (click)='clicked(md)'
            [class.email-item-selected]="md.isSelected">
            <!--<div class="pure-u">
                <img width="64" height="64" alt="{{ md.sender }} s avatar" class="email-avatar" src="{{md.avatarUrl}}">
            </div>-->

            <div class="pure-u-3-4">
                <h5 class="email-name">{{ md.sender }}</h5>
                <h4 class="email-subject">{{ md.subject }}</h4>
                <p class="email-desc">
                    {{ md.description }}
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="selectedEmail" id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">{{ selectedEmail.subject }}</h1>
                    <br>
                    <p class="email-content-subtitle">
                        From: <a>{{ selectedEmail.sender }}</a>
                    </p>                                 
                    <p class="email-content-subtitle">
                        To: <a>{{ selectedEmail.recepients }}</a>
                    </p>
                    <p>
                        at <span>{{ selectedEmail.dateReceived }}</span>
                    </p>
                </div>

                <!--<div class="email-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Reply</button>
                    <button class="secondary-button pure-button">Forward</button>
                    <button class="secondary-button pure-button">Move to</button>
                </div>-->
            </div>

            <div class="email-content-body">                
                <div [innerHTML]="selectedEmail.bodyHtml"></div>
                <!--<p>
                    {{ selectedEmail.body }}
                </p>-->
            </div>
        </div>
    </div>
</div>