<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">{{ currentUserAddress }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a>
                        <span class="glyphicon glyphicon-inbox"></span>
                        <span class="badge badge-pill badge-success">{{ unReadEmailCount }}</span>                        
                    </a>
                </li>
                <li>
                    <button *ngIf="selectedEmail" (click)='markCurrentUnread()' type="button" class="btn btn-info glyphicon glyphicon-envelope"
                        data-placement="buttom" title="Mark Unread">
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="mail-descriptions-container">
        <div class="list-group">
            <a *ngFor="let md of emailDescriptions" [ngClass]="{'email-item-unread': !md.isRead}" [class.active]="md.isSelected" (click)='clicked(md)'
                class="mail-description-box list-group-item list-group-item-action">
                <h4 class="list-group-item-heading">{{ md.sender }}</h4>
                <p class="list-group-item-text">{{ md.subject }}</p>
                <p class="list-group-item-text">{{ md.description }}</p>
            </a>            
        </div>
    </div>

    <div class="separator-container">
    </div>

    <div class="mail-viewer-container">
        <div *ngIf="selectedEmail" class="email-content-header-container">
            <div class="email-content-header">
                <h1 class="email-content-title">{{ selectedEmail.subject }}</h1>
                <br>
                <p class="email-content-subtitle">
                    From: <a>{{ selectedEmail.sender }}</a>
                </p>
                <p class="email-content-subtitle">
                    To: <a>{{ selectedEmail.recepients }}</a>
                </p>
                <p>
                    at <span>{{ selectedEmail.dateReceived }}</span>
                </p>
            </div>
        </div>

        <div *ngIf="selectedEmail" class="email-content-body">
            <div [innerHTML]="selectedEmail.bodyHtml"></div>
        </div>
    </div>
</div>

<toaster-container></toaster-container>